<h1><%= @band.name %></h1>

<h4>Add venues that <%= @band.name %> has played:</h4>
<% if @venues.any?() %>
  <form action="/band/<%= @band.id %>" method="post">
    <% @venues.each() do |venue| %>
    <div class="checkbox">
      <label>
        <input type="checkbox" name="venue_ids[]" value="<%= venue.id() %>"><%= venue.name() %>
      </label>
    </div>
    <% end %>
    <button type="subit" class="btn btn-success">Add venue(s)</button>
  </form>
<% end %>

<h4>Venues <%= @band.name %> has played:</h4>
<% if @band.venues().any?() %>
  <ul>
  <% @band.venues().each() do |venue| %>
    <li><%= venue.name() %></li>
  <% end %>
  </ul>
<% else %>
  <p><%= @band.name %> hasn't played any venues yet!</p>
<% end %>
