<h1><%= @band.name %></h1>

<h4>Change <%= @band.name %>'s name:</h4>
<form action="/band/<%= @band.id %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <div class="form-group">
    <input name="new_band_name" class="form-control" type="text" placeholder="New Band Name">
    <br>
    <button class="btn btn-success" value="submit">Change Band Name!</button>
  </div>
</form>

<hr>

<h4>Which venues has <%= @band.name %> played?</h4>
<% if @venues.any?() %>
  <form action="/band/<%= @band.id %>" method="post">
    <% @venues.each() do |venue| %>
    <div class="checkbox">
      <label>
        <input type="checkbox" name="venue_ids[]" value="<%= venue.id() %>"><%= venue.name() %>
      </label>
    </div>
    <% end %>
    <button type="subit" class="btn btn-success">Add venue(s)</button>
  </form>
<% end %>

<hr>
<h4>Venues <%= @band.name %> has played:</h4>
<% if @band.venues().any?() %>
  <ul>
  <% @band.venues().each() do |venue| %>
    <li><%= venue.name() %></li>
  <% end %>
  </ul>
<% else %>
  <p><%= @band.name %> hasn't played any venues yet!</p>
<% end %>
<hr>
<a href="/">Back<a>
